[submodule "wiki"]
	path = wiki
	url = https://github.com/helsinova/wiki-wrapper.git
[submodule "cmake"]
	path = cmake
	url = ssh://helsinovarepo/xcmake.git
[submodule "wikidata"]
	path = wikidata
	url = ssh://helsinovarepo-pro/xband/xb-lua.wiki.git
